# ===== STM32CubeIDE / Eclipse build outputs =====
**/Debug/
**/Release/
**/build/
**/Build/

# ===== Compiled objects / binaries =====
**/*.o
**/*.a
**/*.d
**/*.su
**/*.elf
**/*.hex
**/*.bin
**/*.map
**/*.list

# ===== Eclipse/IDE noise =====
**/.metadata/
**/*.launch

# ===== OS =====
**/Thumbs.db
**/.DS_Store
